:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 135deg, #c93b23 10%, #eafaae 100%);
  
  /* 图标背景 */
  /* --vp-home-hero-image-background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%); */
  /* --vp-home-hero-image-background-image: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%); */
  /* --vp-home-hero-image-filter: blur(150px); */

  /* brand按钮 */
  --vp-button-brand-border: #F6CEEC;
  --vp-button-brand-text: #F6CEEC;
  --vp-button-brand-bg: transparent;

  --vp-button-brand-hover-border: #F6CEEC;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #D939CD;

  --vp-button-brand-active-border: #F6CEEC;

  /* css变量 */
  /* 深色背景 */
  --darkBgColor: linear-gradient(45deg, #496eaa, #944fa8, #a8804f, #944fa8, #496eaa);
  /* 浅色背景 */
  --lightBgColor: linear-gradient(45deg, #fa709979 0%, #fee14062 100%);

  --component-preview-primary-color: var(--darkBgColor);
}

/* 美化滚动条 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#20957d, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 99, 193, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color .3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(87, 125, 202, 0.3);
}

/* 左侧目录-active--变颜色 */
.is-active>.item>.link>.text,
/* doc主体部分 */
.content {
  background-color: var(--darkBgColor);
  animation: colorChange 30s infinite alternate;
}

/* 左侧目录文字透明 */
.is-active>.item>.link>.text {
  color: transparent;
}

@keyframes colorChange {
  from {
    /* 神奇的色调旋转滤镜hue-rotate */
    filter: hue-rotate(0);
  }
  to {
    /* 120.0度的旋转将准确地将红色映射为绿色，绿色映射为蓝色，蓝色映射为红色。 */
    filter: hue-rotate(360deg);
  }
}

/* 给 h1 h2 设置mask，配合变化的背景，来修改字体颜色 */
h1,
h2,
.outline-link.active {
  position: relative;
  color: #496eaa;
}

h1:before,
h2:before,
.outline-link.active:before {
  content: attr(text);
  position: absolute;
  z-index: 10;
  -webkit-mask:var(--darkBgColor);
  mask: var(--darkBgColor);
  animation: colorChange 20s infinite alternate;
}

/* 首页，增加背景-渐变-加色调旋转滤镜 */
.is-home{
  position: relative;
  height: 100%;
  background: var(--lightBgColor);
  animation: colorChange 15s infinite alternate;
}

/* dark深色模式-换背景图 */
.dark>body>#app>.Layout>.is-home{
  background: url(/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: blur(2rem);
}

/* after添加模糊滤镜 */
.dark>body>#app>.Layout>.is-home::after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  filter: blur(2rem);
}

/* 首页的feature，改为透明背景，避免light模式下黑色难看 */
.VPFeature{
  background-color: transparent !important;
  border: 1px solid rgba(255, 128, 128, 0.879);
}